<div class="row">
    <div class="input-field col s12">
        <input id="username" type="text" class="validate" value="{{user.username}}">
        <label for="username">Username</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
    </div>
</div>

<button id="login-button" class="btn waves-effect waves-light">Login</button>
<br/>

<div class="row">
    <div class="input-field col s6">
        <input id="new_firstname" type="text" class="validate" value="{{user.firstname}}">
        <label for="new_firstname">First Name</label>
    </div>
    <div class="input-field col s6">
        <input id="new_lastname" type="text" class="validate"  value="{{user.lastname}}">
        <label for="new_lastname">Last Name</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <input id="new_username" type="text" class="validate" value="{{user.username}}">
        <label for="new_username">Username</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <input id="new_password" type="password" class="validate">
        <label for="new_password">Password</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <input id="new_email" type="email" class="validate" value="{{user.email}}">
        <label for="new_email">Email</label>
    </div>
</div>

<button id="new-button" class="btn waves-effect waves-light">Submit</button>


<script src="/js/index.js"></script>